.header {                                           padding: 20px; background-color: gray; color: white; margin-bottom: 20px;
    .left {
        .menu {                                     margin-top: -20px;
            a {                                     color: white; }
        }
    }
    .right {                                        margin-top: -10px; }
}